<div class="orden-card">
  <h3>Mesa #{{ orden.idMesa }}</h3>
  <p>ID Orden: {{ orden.idOrden }}</p>
  
  <p>Estado: 
    <span [ngClass]="{
      'espera': orden.estadoOrden === 'ESPERA',
      'proceso': orden.estadoOrden === 'PROCESO',
      'finalizada': orden.estadoOrden === 'FINALIZADA',
      'cancelada': orden.estadoOrden === 'CANCELADA'
    }">
      {{ orden.estadoOrden }}
    </span>
  </p>

    <div class="card-buttons">
    <!-- Siempre disponible -->
    <button class="detalles-btn" (click)="abrirDetalles()">Ver Detalles</button>
  </div>
</div>
