<table class="inventory-table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Marca</th>
      <th>Precio</th>
      <th>Cantidad</th>
      <th>Unidad</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products" (click)="selectProduct(product)" [class.selectedProduct]="product === selectedProduct">
      <td>{{ product.nombre }}</td>
      <td>{{ product.marca }}</td>
      <td>{{ product.precioCompra }}</td>
      <td>{{ product.cantidadDisponible }}</td>
      <td>{{ product.unidad_medida }}</td>
      <td>
        <button class="icon-button" (click)="addStock(product, $event)">
          <svg width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
            <path d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zm0 1a6 6 0 1 1 0 12A6 6 0 0 1 8 2zm3 6a.5.5 0 0 1-.5.5H8.5V11a.5.5 0 0 1-1 0V8.5H5a.5.5 0 0 1 0-1h2.5V5a.5.5 0 0 1 1 0v2.5H11a.5.5 0 0 1 .5.5z"/>
          </svg>
          <span class="tooltip">Agregar Stock</span>
        </button>
      </td>
    </tr>
  </tbody>
</table>
