<div class="orden-container">
    <!-- Botón de Iniciar Orden (Siempre visible) -->
    <button class="btn-iniciar" (click)="abrirModal()">Iniciar Orden</button>
  
    <!-- Contenedor de órdenes en fila -->
    <div class="ordenes-list">
      <div *ngFor="let orden of ordenesPaginadas" class="orden-card-container">
        <app-orden-card [orden]="orden" (verDetalles)="abrirDetalleOrden($event)"></app-orden-card>      </div>
    </div>
  
    <!-- Paginador -->
    <div class="paginador">
      <button (click)="retrocederPagina()" [disabled]="paginaActual === 0">Anterior</button>
      <span>Página {{ paginaActual + 1 }} de {{ totalPaginas }}</span>
      <button (click)="avanzarPagina()" [disabled]="paginaActual + 1 >= totalPaginas">Siguiente</button>
    </div>
  </div>

<!-- Modal de Detalle de Orden -->
<app-detail-order
  *ngIf="ordenSeleccionada"
  [orden]="ordenSeleccionada"
  (cerrarDetalle)="ordenSeleccionada = null"
  (ordenCancelada)="cancelarOrdenDesdePadre($event)">
</app-detail-order>

  
<!-- Modal para nueva orden -->
<div class="modal-overlay" *ngIf="mostrarModal"></div>
<div class="modal" *ngIf="mostrarModal">
    <div class="modal-content">
      <h2>Nueva Orden</h2>
  
      <!-- Selección de platillos -->
      <div *ngFor="let platillo of platillosSeleccionados; let i = index" class="platillo-group">
        <select [(ngModel)]="platillo.nombre" class="select-platillo">
          <option value="" disabled selected>Seleccione un platillo</option>
          <option *ngFor="let item of dishes" [value]="item.nombre">{{ item.nombre }}</option>
        </select>
        <input type="number" [(ngModel)]="platillo.cantidad"
        min="1" class="input-cantidad"
        (keypress)="validarTecla($event)"
        (input)="validarCantidad(i)">

        <button (click)="eliminarPlatillo(i)" class="btn-eliminar">❌</button>

          <!-- Mensaje de error -->
        <p *ngIf="errores[i]" class="error-msg">{{ errores[i] }}</p>
      </div>
  
      <button (click)="agregarPlatillo()" class="btn-agregar">Agregar Platillo</button>
      <button (click)="confirmarOrden()" class="btn-confirmar">Confirmar Orden</button>
      <button (click)="cerrarModal()" class="btn-cerrar">Cerrar</button>
    </div>
  </div>
  