<header class="admin-header">
    <div class="logo">
      <h1>Rancho de Chucho - Admin</h1>
    </div>
    <nav class="nav-links">
      <a routerLink="/administrator/inventory" routerLinkActive="active-link">Inventario</a>
      <a routerLink="/administrator/menu" routerLinkActive="active-link">Menú</a>
      <a routerLink="/administrator/reports" routerLinkActive="active-link">Reportes</a>
      <a routerLink="/administrator/profile" routerLinkActive="active-link">Mi Perfil</a>
    </nav>
  </header>
  