<div class="inventory-container">
  
  <h2>Inventario de Productos</h2>
  <button class="add-product-btn" (click)="onAddProduct()">Agregar Producto</button>
  <div class="search-container">
    <input
      type="text"
      placeholder="Buscar producto..."
      class="search-bar"
      [(ngModel)]="searchTerm"
      (input)="onSearch()"
    />
    <button class="help-btn" (click)="openHelpModal()">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="12" cy="12" r="10" stroke="#097887" stroke-width="2" fill="none"/>
        <path d="M12 8V12M12 16H12.01" stroke="#097887" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    </button>
  </div>


  <app-inventory-table [products]="filteredProducts" (rowSelected)="onRowSelected($event)"(stockAdded)="openStockModal($event)"></app-inventory-table>

  <div class="action-buttons">
    <button class="edit-btn" [disabled]="!selectedProduct" (click)="openEditModal()">
      Editar Producto
    </button>
    <button class="delete-btn" [disabled]="!selectedProduct" (click)="openDeleteModal()">
      Eliminar Producto
    </button>
  </div>
  <!--Add product form-->
  <div class="modal" *ngIf="showModal">
    <div class="modal-content">
      <h3>Nuevo Producto</h3>
      <form [formGroup]="productForm" (ngSubmit)="addProduct()">
        <label>Nombre:</label>
        <input type="text" formControlName="nombre" />
  
        <label>Marca:</label>
        <input type="text" formControlName="marca" />
  
        <label>Precio:</label>
        <input type="number" formControlName="precioCompra" />
  
        <label>Cantidad:</label>
        <input type="number" formControlName="cantidadDisponible" />
  
        <label>Unidad de medida:</label>
        <select formControlName="unidad_medida">
          <option *ngFor="let unidad of units" [value]="unidad.notacion">
            {{ unidad.notacion }}
          </option>
        </select>
        
  
        <div class="modal-buttons">
          <button type="submit" [disabled]="productForm.invalid">Guardar</button>
          <button type="button" (click)="showModal = false">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
  <div class="modal" *ngIf="showEditModal">

    <div class="modal-content">
      <h2>Editar Producto</h2>
      
      <label for="editName">Nombre:</label>
      <input type="text" id="editName" [(ngModel)]="editProductData.nombre">
  
      <label for="editMarca">Marca:</label>
      <input type="text" id="editMarca" [(ngModel)]="editProductData.marca">
  
      <label for="editPrecio">Precio por Unidad:</label>
      <input type="number" id="editPrecio" [(ngModel)]="editProductData.precioCompra">
  
      <label for="editUnidad">Unidad de Medida:</label>
      <select formControlName="unidad_medida">
        <option *ngFor="let unidad of units" [value]="unidad.notacion">
          {{ unidad.notacion }}
        </option>
      </select>
  
      <!-- Botones -->
      <div class="modal-buttons">
        <button type="submit" (click)="saveEditedProduct()">Guardar</button>
        <button type="button" (click)="closeEditModal()">Cancelar</button>
      </div>
    </div>
  </div>
  <!-- Modal de Confirmación de Eliminación -->
  <div class="modal" *ngIf="showDeleteModal">
    <div class="modal-content">
      <h2>Confirmar Eliminación</h2>
      <p>¿Seguro que desea eliminar el producto <strong>{{ selectedProduct?.nombre }}</strong>?</p>

      <!-- Botones -->
      <div class="modal-buttons">
        <button type="submit" (click)="confirmDelete()">Sí, eliminar</button>
        <button type="button" (click)="closeDeleteModal()">Cancelar</button>
      </div>
    </div>
  </div>
  <!-- Modal para agregar stock -->
<div class="modal" *ngIf="showStockModal">
  <div class="modal-content">
    <h2>Agregar Stock</h2>
    
    <p><strong>Producto:</strong> {{ selectedStockProduct?.nombre }}</p>
    
    <label for="stockQuantity">Cantidad a agregar:</label>
    <input type="number" id="stockQuantity" [(ngModel)]="stockQuantity" min="1" />

    <div class="modal-buttons">
      <button class="add-stock-btn" (click)="confirmAddStock()">Agregar</button>
      <button class= "cancel-stock-btn" (click)="closeStockModal()">Cancelar</button>
    </div>
  </div>  
</div>
<!--Modal para las ayudas-->
<div class="modal" *ngIf="showHelpModal">
  <div class="modal-content">
    <h2>Guía de Uso</h2>
    <ul class="help-list">
      <li>
        <a href="https://youtu.be/cxHsVAL0ciU" target="_blank">📌 Guía para agregar un producto</a>
      </li>
      <li>
        <a href="https://youtu.be/io5rFDhANC0" target="_blank">✏️ Guía para editar un producto</a>
      </li>
      <li>
        <a href="https://youtu.be/35zx1E4vEwU" target="_blank">📦 Guía para agregar stock a un producto</a>
      </li>
    </ul>
    <button type="button" class="close-help-btn" (click)="showHelpModal = false">Cerrar</button>
  </div>
</div>
</div>
