<div class="menu-container">
  <h2>Menú</h2>
  <input type="text" placeholder="Buscar platillo..." class="search-bar" [(ngModel)]="searchTerm" (input)="onSearch()" />

  <button class="category-btn" (click)="openCategoryDialog()">Seleccionar Categoría</button>

  <div class="category-dialog" *ngIf="showCategoryDialog">
    <div class="dialog-content">
      <h3>Selecciona una categoría</h3>
      <button *ngFor="let category of categories" (click)="onCategorySelected(category)">
        {{ category }}
      </button>
      <button class="close-dialog" (click)="closeCategoryDialog()">Cerrar</button>
    </div>
  </div>

  <div class="menu-grid">
    <app-menu-card class="card-container"
      *ngFor="let dish of paginatedDishes"
      [dish]="dish"
      (editDish)="onEditDish(dish)"
      (deleteDish)="onDeleteDish(dish)"
      (viewDetail)="onViewDetail(dish)">
    </app-menu-card>
  </div>

  <div class="pagination">
    <button (click)="previousPage()" [disabled]="currentPage === 1">Anterior</button>
    <span>Página {{ currentPage }} de {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">Siguiente</button>
  </div>

  <app-menu-detail *ngIf="selectedDishDetail" [selectedDish]="selectedDishDetail" (closeDetail)="onCloseDetail()"></app-menu-detail>
</div>